<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">
    <meta name="author" content="Webpixels">
    <title>rural revitalization</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-transparent navbar-light bg-white py-4">
    <div class="container">
        <a class="navbar-brand" href="../.."><strong>乡村</strong>振兴</a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
                aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
                <li class="nav-item ">
                    <a class="nav-link" href="/overview/">概述</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">页面</a>
                    <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">
                        <a class="dropdown-item" href="/homepage/">主页</a>
                        <a class="dropdown-item" href="/about/">关于我们</a>
                        <a class="dropdown-item" href="/sign_in/">登录</a>
                        <a class="dropdown-item" href="/contact/">联系</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">文档</a>
                </li>
                <div class="dropdown-divider d-lg-none my-4"></div>
                <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Social Media</h6>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://instagram.com/webpixelsofficial/" target="_blank"><i
                            class="fab fa-instagram"></i><span class="ml-2 d-lg-none">Instagram</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://web.facebook.com/webpixels" target="_blank"><i
                            class="fab fa-facebook"></i><span class="ml-2 d-lg-none">Facebook</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://dribbble.com/webpixels" target="_blank"><i
                            class="fab fa-dribbble"></i><span class="ml-2 d-lg-none">Dribbble</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://github.com/webpixels" target="_blank"><i
                            class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main class="main">
    <section class="slice slice-xl" style="background-image: url('../static/images/backgrounds/img-1.jpg')">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-md">
                        <h2 class="heading h1 mb-4">
                            想要一起合作么?
                        </h2>
                        <p class="lead lh-180">
                            我们是一家专业的计算机视觉，致力于完成AI在乡村振兴的开发，您会喜欢的。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-6">
                    <h3 class="heading h3 mb-4">发送你的邮件</h3>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="姓名" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="邮箱地址" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="你的留言"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary px-4">
                                发送信息
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 ml-lg-auto">
                    <h3 class="heading heading-3 strong-300">
                        150 Southeast Pidgeon Meadow
                        <br>
                        Claflin Terrace, 305458
                    </h3>
                    <p class="lead mt-4 mb-4">
                        E: <a href="#">support@webpixels.io</a>
                        <br>
                        T: 0755.222.333
                    </p>
                    <p class="">
                        Probably the most complete UI kit out there. Multiple functionalities and controls added,
                        extended color palette and beautiful typography, designed as its own extended version of
                        Bootstrap at the highest level of quality.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Page plugins -->
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../static/vendor/input-mask/input-mask.min.js"></script>
<script src="../static/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>
</body>
</html>