<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>中国草莓价格</title>
    <!-- 引入 Pyecharts 所需的 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl@2.1.2/dist/echarts-gl.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-liquidfill@2.0.2/dist/echarts-liquidfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-wordcloud@1.1.1/dist/echarts-wordcloud.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-visual-map@1.0.1/dist/echarts-visual-map.min.js"></script>
</head>

<body>
    <div id="chart-container"></div>
    <!-- 引入 pyecharts.js -->
    <script src="../static/echarts-5.1.2/dist/echarts.simple.min.js"></script>
    <!-- 引入中国地图数据 -->
    <script src="../static/echarts-5.1.2/test/data/map/json/china.json"></script>
    <script>
        // 在这里编写使用 echarts 渲染图表的代码
    </script>
</body>
</html>
