<!DOCTYPE html>
<html>
<head>
    <title>YOLOv8 草莓农残识别</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{#    <style>#}
{#        body{#}
{#            background-image: url("../static/images/backgrounds/dao.jpg");#}
{#            background-size: 100% ;#}
{#        }#}
{#    </style>#}
    <style>
      .bj{

      position: fixed;  /*将图片固定，不随页面滚动*/

      {#opacity: 0.65;  /*修改透明度*/#}

      height: 100%;

      width: 100%;

      z-index: -1;  /*将图片放在最底层*/
  }
      img{
        filter:brightness(70%);
      }
    </style>
</head>
<body>
{#<img  class="bj" alt="" >#}
<div class="container">
    <h2>YOLOV8 草莓病害识别</h2>
    <hr>
    <form method="post" enctype="multipart/form-data" id="image-form" style="display: flex;height: 50px">
        {% csrf_token %}
        <div  style="flex: 2 ;">
            <div class="input-group mb-3">
              <label class="form-control " for="inputGroupFile02 image" >上传图片</label>
              <input type="file" class="form-control" id="inputGroupFile02 image" name="image" style="display: none" >
            </div>
        </div>
        <div  style="flex: 1;">
            <button type="submit" class="btn btn-primary" id="predict-btn" style="background-color: forestgreen">预测</button>
            <button class="btn btn-primary" id="btn-toggle-camera" style="background-color: forestgreen">摄像头</button>
        </div>
    </form>
    <div>
        <video id="video" style="width: 100%;height: 400px"></video>
    </div>


    <div id="result-container" style="display: none;">
        <h4 style="color: black">预测结果:</h4>
        <table class="table">
            <thead style="color: black">
            <tr>
                <th>病害种类</th>
                <th>置信度</th>
                <th>识别框</th>
            </tr>
            </thead>
            <tbody id="result-table" style="color:black">
            </tbody>
        </table>
        <h4 style="color: black">预测图片:</h4>
        <img id="predict-img" src="" style="max-width:100%">
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#image-form').on('submit', function (e) {
            e.preventDefault();
            var formData = new FormData($(this)[0]);
            $.ajax({
                url: "/predict/",
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    var results = response.class;
                    var resultTable = '';

                    for (var i = 0; i < results.length; i++) {
                        class_names = {
                            0: '豆角角斑病',
                            1: '豆角锈病',
                            2: '草莓角斑病',
                            3: '草莓炭疽病',
                            4: '草莓花叶枯萎病',
                            5: '草莓灰霉病',
                            6: '草莓叶斑病',
                            7: '草莓粉霉病（果实）',
                            8: '草莓粉霉病（叶片）',
                            9: '番茄晚疫病',
                            10: '番茄叶',
                            11: '番茄蜘蛛螨'
                        }
                        var className = class_names[results[i]];
                        var confidence = response.confidence[i].toFixed(2);
                        var bbox = response.bbox[i];
                        var bboxString = '(' + bbox[0].toFixed(2) + ', ' + bbox[1].toFixed(2) + ', ' + bbox[2].toFixed(2) + ', ' + bbox[3].toFixed(2) + ')';
                        resultTable += '<tr><td>' + className + '</td><td>' + confidence + '</td><td>' + bboxString + '</td></tr>';
                    }
                    $('#result-table').html(resultTable);
                    $('#predict-img').attr('src', 'data:image/png;base64,' + response.result_image_base64);
                    $('#result-container').show();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    });
</script>
     <script>
        var btnToggleCamera = document.getElementById('btn-toggle-camera');
        var video = document.getElementById('video');
        var stream = null;
        var isCameraOn = false;
        btnToggleCamera.onclick = function() {
            if (!isCameraOn) {
                navigator.mediaDevices.getUserMedia({video: true})
                    .then(function(s) {
                        stream = s;
                        video.srcObject = stream;
                        video.play();
                        btnToggleCamera.innerHTML = '关闭摄像头';
                        isCameraOn = true;
                    })
                    .catch(function(error) {
                        console.log('Error:', error);
                    });
            } else {
                if (stream) {
                    stream.getTracks().forEach(function(track) {
                        track.stop();
                    });
                    video.srcObject = null;
                    btnToggleCamera.innerHTML = '开启摄像头';
                    isCameraOn = false;
                }
            }
        };
    </script>
</body>
</html>
