<!DOCTYPE html>
<html>
<head>
  <title>天气预报</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ city }}未来14天天气预报</h1>
    <div id="chart"></div>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        city: '城市名',
        chartData: {}
      },
      created: function () {
        this.getWeatherData();
      },
      methods: {
        getWeatherData: function () {
          var self = this;
          axios.get('/weather/' + this.city)
            .then(function (response) {
              self.chartData = response.data;
              self.renderChart();
            })
            .catch(function (error) {
              console.log(error);
            });
        },
        renderChart: function () {
          var myChart = echarts.init(document.getElementById('chart'));
          myChart.setOption(this.chartData);
        }
      }
    });
  </script>
</body>
</html>
